<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p>{{message}}</p>
        <ol>
            <li v-for="item in list">{{item}}</li>
        </ol>
        <button v-on:click="handleClick">Click</button>
        <input v-model="message">
        <p v-if="show">Hello Vue.js!</p>

        <button v-on:click="show=!show">변경하기</button>
        <transition>
            <p v-if="show">Hello. Vue.js</p>
        </transition>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js"></script>
    <script src="main.js">
        
    </script>
</body>

</html>

